.main {
  height: 100vh;
  background-image: url(../public/image/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

form {
  background-color: rgba(255, 255, 255, .45);
  backdrop-filter: blur(1px);
  border-radius: 0px 0px 0px 0px;
  color: black;
  font-size: 24px;
  font-weight: 600;
}

.print {
  background-color: rgba(255, 255, 255, .45);
  backdrop-filter: blur(1px);
  color: black;
  font-size: 24px;
  font-weight: 600;


}

.button {
  font-size: 24px;
  font-weight: 600 !important;
}